<div class="container">
    <dir class="row">
      <div class="col-3">
        <div class="list-group">
          <a routerLink="/"
          class="list-group-item list-group-item-action"
          [class.active]="!category">All categories</a>
          <a *ngFor="let c of categories$ | async"
            routerLink="/" [queryParams]="{category: c.key}"
            class="list-group-item list-group-item-action"
            [class.active]="category===c.key">
              {{c.name}}
            </a>
        </div>
      </div>
      <div class="col">
          <div class="row">
              <ng-container *ngFor="let book of filteredBooks; index as i; even as isEven">
                <div class="col">
                  <div class="card" style="width: 15rem;">
                    <img *ngIf="book.imageUrl" [src]="book.imageUrl" alt="url image" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">{{i}}-{{book.title}}</h5>
                      <p class="card-text">{{ book.price | currency:'EUR':true}} {{book.category}}</p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                </div>
                <div *ngIf="(i+1)%2===0" class="w-100"></div>
              </ng-container>
          </div>
      </div>
    </dir>
  </div>
  