<p><a routerLink="/admin/products/new" class="btn btn-primary">Nuovo Libro</a></p>
<p><input #query type="text" class="form-control" placeholder="Search" (keyup)="filter(query.value)"></p>
<!-- <table class="table table-striped" [mfData]="filteredProducts" #mf="mfDataTable" [mfRowsOnPage]="4">
    <thead>
    <tr>
        <th style="width: 40%">
            <mfDefaultSorter by="title">Title</mfDefaultSorter>
        </th>
        <th style="width: 50%" class="text-right">
            <mfDefaultSorter by="pages">Pages</mfDefaultSorter>
        </th>
        <th style="width: 10%"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data">
        <td>{{item.title | uppercase}}</td>
        <td class="text-right">{{item.pages}}</td>
        <td><a [routerLink]="['/admin/products', item.key]">Edit</a></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>
 -->
 <div>
     <table>
         <tbody>
             <tr *ngFor="let p of filteredProducts">
                 <td>{{p.title}}</td>
             </tr>
         </tbody>
     </table>
 </div>