/* You can add global styles to this file, and also import other style files */
$fa-font-path : "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~bootstrap/scss/bootstrap";

html {
    position: relative;
    min-height: 100%;
  }
  body {
    padding-top: 80px;
  }
/*   .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  } */